name: camilo-edr
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - matplotlib
  - pip
  - pip:
      - pint-pulsar
      - enterprise-pulsar
      - enterprise_extensions
      - libstempo
